In [2]:
import csv
import numpy as np
import pandas as pd

In [3]:
matrix = pd.read_csv("transition_table.dat")
matrix

,State,+,-,*,/,\,=,<,>,&,...,S,T,U,V,W,X,Y,Z,whitespaces,newline
0,0,53.0,54.0,55.0,56.0,96.0,57.0,58.0,59.0,62.0,...,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,NaN,NaN
73,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,NaN,NaN
74,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,NaN,NaN
75,100,83.0,83.0,83.0,83.0,104.0,83.0,83.0,83.0,83.0,...,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,69420.0
76,6969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,6969.0,NaN,NaN